<div class="header">
	<div class="header-item">
		<time>9.41</time>
	</div>
	<div class="header-item">
		<img src="/svg/network-dark.svg">
		<img src="/svg/wifi-dark.svg">
		<img src="/svg/battery-dark.svg">
	</div>
</div>