<div class="heading-menu">
	<a href="/#">
		<img src="/svg/button-settings.svg" alt="" width="24" height="24">
	</a>

	<p class="heading__info">Main wallet</p>

	<a href="/#">
		<img src="/svg/button-notifications.svg" alt="" width="24" height="24">
	</a>
</div>