<div class="header">
	<div class="header-item">
		<time>9.41</time>
	</div>
	<div class="header-item">
		<img src="/svg/network.svg">
		<img src="/svg/wifi.svg">
		<img src="/svg/battery.svg">
	</div>
</div>